@{
    ViewData["Title"] = "HC - Historias Clinicas";
}
<div class="bg-image">

        <div class="text-center">
            @*<img src="~/img/fondo.jpg" class="img-fluid" alt="Historias Clinicas" style="width:100%" , position="relative" >*@
            <h4 class="display-4"><b>Bienvenido</b></h4>
            <p>Comience a gestionar sus historias clinicas.</p>
        </div>
</div>