@model tp_nt1.Models.Episodio

@{
    ViewData["Title"] = "Cerrar Episodio";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CerrarEvolucion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
    <div class="form-group">
        <label asp-for="FechaYHoraInicio" class="control-label">Fecha y Hora de Inicio</label>
        <input asp-for="FechaYHoraInicio" class="form-control" readonly/>
        <span asp-validation-for="FechaYHoraInicio" class="text-danger"></span>
    </div>
       
            <div class="form-group">
                <label asp-for="FechaYHoraAlta" class="control-label">Fecha y Hora de Alta</label>
                <input asp-for="FechaYHoraAlta" class="form-control" />
                <span asp-validation-for="FechaYHoraAlta" class="text-danger">Fecha y Hora del Alta</span>
            </div>
      <!--      
    <div class="form-group">
        <label asp-for="FechaYHoraCierre" class="control-label">Fecha y Hora del Cierre</label>
        <input asp-for="FechaYHoraCierre" class="form-control" readonly/>
        <span asp-validation-for="FechaYHoraCierre" class="text-danger">Fecha y Hora del Cierre</span>
    </div>
          -->
    @*<div class="form-group">
        <label asp-for="DescripcionAtencion" class="control-label">Descripcion</label>
        <input asp-for="DescripcionAtencion" class="form-control" readonly/>
        <span asp-validation-for="DescripcionAtencion" class="text-danger"></span>
    </div>*@
            <!--
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="EstadoAbierto" /> 
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </label>
    </div>      
    <div class="form-group">
        <label asp-for="NotaId" class="control-label"></label>
        <select asp-for="NotaId" class="form-control" asp-items="ViewBag.NotaoId"></select>
        <span asp-validation-for="NotaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EpisodioId" class="control-label"></label>
        <select asp-for="EpisodioId" class="form-control" asp-items="ViewBag.EpisodioId"></select>
        <span asp-validation-for="EpisodioId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfesionalId" class="control-label"></label>
        <select asp-for="ProfesionalId" class="form-control" asp-items="ViewBag.ProfesionalId"></select>
        <span asp-validation-for="ProfesionalId" class="text-danger"></span>
    </div>
    -->
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-info btn-sm"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info btn-sm" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


