@model tp_nt1.Models.Nota

@{
    ViewData["Title"] = "Crear";
}


<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="evolucionId" value="@ViewBag.evolucionId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <textarea asp-for="Mensaje" class="form-control"></textarea>
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="FechaYHora" class="control-label"></label>
        <input asp-for="FechaYHora" class="form-control" />
        <span asp-validation-for="FechaYHora" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmpleadoId" class="control-label"></label>
        <select asp-for="EmpleadoId" class ="form-control" asp-items="ViewBag.EmpleadoId"></select>
    </div>
    <div class="form-group">
        <label asp-for="ProfesionalId" class="control-label"></label>
        <select asp-for="ProfesionalId" class ="form-control" asp-items="ViewBag.ProfesionalId"></select>
    </div>
        -->
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-info btn-sm"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info btn-sm" asp-controller="Evoluciones" asp-action="MiEvolucion" asp-route-evolucionId="@ViewBag.evolucionId">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
