@model tp_nt1.Models.HistoriaClinica
@{var episodios = Model.Episodios;
}


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Episodios</h5>
                @if (User.IsInRole(nameof(Rol.Empleado)))
                {
                    <a class="btn btn-outline-info btn-sm btn-block" asp-controller="Episodios" asp-action="Create" asp-route-hClinicaId="@Model.Id">Agregar Episodio</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in episodios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelE => e.Descripcion)
                </td>
                <td>

                    <a asp-controller="Episodios" asp-action="Details" asp-route-id="@e.Id">Ver episodio</a> |

                </td>

            </tr>
        }
    </tbody>
</table>




