@model tp_nt1.Models.HistoriaClinica
@{var episodios = Model.Episodios;
}


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Episodios</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in episodios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelE => e.Descripcion)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@e.Id">Ver episodio</a> |

                </td>
            </tr>
        }
    </tbody>
</table>




